body{overflow: hidden;}
ul{
  list-style-type: none;
  padding-left: 0;
  height:40em;
  overflow-x: hidden;
}
li{
  padding: 1em;
  border-bottom: 1px solid rgb(224, 145, 145);
  cursor: pointer;
  transition: background-color 0.3s;
}
li:hover{
  background-color: rgba(255, 255, 255,0.1);
}
li[color="red"]{ background-color: rgb(170,32,54); }
li[color="green"]{ background-color: rgb(70,153,82); }
li[color="info"]{font-style: italic;background-color: #ddd;}
li.selected{
  background-color: rgb(255, 215, 215);
}
h2,h3{margin: 0;}
ul{margin: 0;}

#window-container{
  display: grid;
  grid-template-columns: 350px 0;
}
canvas{
  user-select: none;
  position: absolute;
  top:0;
  right:0;
}
#console-form>input{
  width:calc(100% - 1.1em);
  border: none;
  border-bottom: 2px solid rgb(54, 54, 54);
  background-color: rgb(206, 119, 119);
  transition: border 0.3s,background-color 0.3s;
  outline: none;
  padding:0.5em;
  color:rgb(126, 59, 59);
}
#console-form>input:focus{
  background-color: rgb(231, 198, 198);
  border-bottom: 2px solid rgb(255, 145, 0);
  caret-color: rgb(126, 59, 59);
}
#console-form{
  position: absolute;
  bottom: 0;
  min-height: 6.5em;
  left: 1em;
  right: 1em;
  overflow-x: hidden;
}
#calc-window{
  z-index: 1;
  opacity: 0.85;
  transition: opacity 0.3s, border-right 0.3s;
  border-right: 3px solid white;
  position: absolute;
  
  top:0;left:0;bottom: 0;
  background-color: rgb(126, 59, 59);
  width: 350px;
  min-width: 5px;
  color:rgb(224, 145, 145);
  font-family: "Roboto", "Helvetica", sans-serif;
}
#calc-window:hover{
  opacity: 1;
}
#log-box{
  height:calc(100% - 10em);
}
#calc-window-drag-area{
  position: absolute;
  top: 0;
  bottom: 0;
  left:calc(100% - 1em);
  right:-1em;
  z-index: 100;
}
input[type=range]{
float:right;
width:calc(100% - 5em);
position:relative;
top:-2em;
}
li>p{
  margin:0
}
#navbar{background-color:rgb(92, 43, 43) ; padding-left: 5px;}
#navbar>button{
  background-color: transparent;
  border: none;
  padding:0.3em;
  transition: background-color 0.1s;
  margin-right: -4px;
  border-radius: 1em;
}
#navbar>button:hover{
  background-color: rgba(214, 143, 143, 0.2);
}

/* Buttons in navbar*/
#trash-button{transition: transform .1s;}

span.large{
  font-size:x-large;
  position: relative;
  top:0.15em
}
li>button{ /*Buttons in log box*/
  background-color: transparent;
  border: none;
  float: left;
  position: relative;
  top:-0.5em;
  margin-left: -0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: background-color 0.2s;
  padding-top: 3px;
  padding-left: 8px;
}
li>button:hover{
  background-color:rgb(206, 119, 119);
}