body{margin:0}

/* Panes */
#content{
    position: absolute;
    top:2em; left:0; right:0; bottom:0;
    background-color: rgb(152, 185, 142);
}
#editor{
    position: absolute;
    top:0; left:20em; right:0; bottom:1em;
    background-color: rgb(52, 121, 31);
}
#terminal{
    position: absolute;
    left:0; right:0; bottom:0;
    height:1em;
    background-color: aliceblue;
    z-index: 9;
}

/* Navbar */
.navbar.horizontal>li{
    display: inline-block;
    padding: 0.2em;
    border-radius: 4px;
    cursor: pointer;
    min-width: 45px;
    text-align: center;
}
li:hover{background-color: var(--navbar-vertical-bg-hover);}
li.navbar:hover{background-color: var(--navbar-bg-hover);}

#navbar{
    position: absolute;
    top: 0; left: 0; right:0;
    height:2em;
    background-color: var(--navbar-bg);
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.navbar.horizontal{margin:4px;}
.navbar{
    list-style: none;
    margin:0;
    padding:0;
}
.navbar.vertical{
    position: absolute;
    background-color: var(--navbar-vertical-bg);
    color:var(--navbar-vertical-primary);
    border-radius: 4px;
    border: 1px solid var(--navbar-vertical-secondary);
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.navbar.vertical>li{
    text-align: left;
    padding: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
}
.hidden{display: none;}
.show{display: block;}
li>span{
    color:var(--navbar-vertical-secondary);
    float: right;
    margin-left: 1em;
}